
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBPLIQz3mW7GcpO6xHXhLl4pGzQjsXa68U
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=skillpath-3e644.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=skillpath-3e644
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=skillpath-3e644.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=994266247751
NEXT_PUBLIC_FIREBASE_APP_ID=1:994266247751:web:5e68721f022ae55ea33762

